@import url("./fonts.css");

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #f8c0ef1a;
}

.body__background {
  background-color: #f1c8e42c;
}

/* Header and navigation */
.navigation-visibility-mobile {
  display: none;
}

.main-header {
  border-radius: 16px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.nav__item {
  margin: 0px;
  background-color: #8900ce;
  border-radius: 16px;
  padding: 6px;
  width: 185px;
  box-shadow: 3px 3px 3px rgb(122, 11, 108);
}

.drop-down a {
  text-decoration: none;
}

.nav_a {
  color: white;
  font-weight: bold;
  font-size: smaller;
  text-shadow: 2px 2px 10px rgb(65, 3, 80);
}

.social_net {
  width: 40px;
}

.map__size {
  width: 600px;
  height: 450px;
  border: 0;
}

.nav__item:hover {
  color: white;
  background-color: #ec9ded;
  transition: 0.2 all;
}

.social_net:hover {
  background-color: #ec9ded;
  transform: scale(1.15);
  transition: 0.2 all ease;
}

.nav__item a {
  color: white;
}

/* Это класс для контактов */
.nav_a1 {
  display: block;
  color: white;
  margin-top: 14px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: smaller;
  text-shadow: 2px 2px 10px rgb(65, 3, 80);
}

/* Это класс для выпадающего меню */
.drop-down {
  position: relative;
}

.drop-down__content {
  margin-top: 4px;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 2;
}

.drop-down:hover .drop-down__content {
  display: block;
}

.drop-down__item {
  background-color: #8900ce;
  border-radius: 16px;
  padding: 6px;
  width: 185px;
  box-shadow: 3px 3px 3px rgb(122, 11, 108);
}

.drop-down__item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: smaller;
  text-shadow: 2px 2px 10px rgb(65, 3, 80);
}

.social_icon:hover {
  text-decoration: none;
}

.drop-down__item:hover {
  transform: scale(1.1);
  background-color: #ec9ded;
  transition: all 0.2s ease;
}

/* Content */

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  border-radius: 12px;
  width: 100%;
}

.main__speach {
  font-family: "Jura", sans-serif;
}

.main__img {
  margin: 20px;
  box-shadow: 0px 0px 10px 10px black;
}

.border__radius {
  border-radius: 22px;
  box-shadow: 5px 5px 10px #b298dc;
}

/* Work statistic */

.work_statistic {
  height: 300px;
  color: #fff;
}

.btn__my-style {
  font-family: "Raleway", sans-serif;
  background-color: #8900ce;
  color: white;
  font-weight: bold;
  font-size: smaller;
  text-shadow: 2px 2px 10px rgb(65, 3, 80);
}

.statistic__img {
  width: 70px;
  opacity: 0.8;
}

.opacity-30 {
  opacity: 0.3;
}

.statistic-bar {
  background-color: #f5cce8;
  border-radius: 16px;
  padding: 6px;
  text-shadow: 2px 2px 15px rgb(65, 3, 80);
  box-shadow: 3px 3px 3px #573052;
  transition: all 0.3s ease-in-out;
}

.statistic-bar:hover {
  transform: scale(1.1);
}

.size-statistic {
  font-size: 30px;
}

.size-statistic-count {
  font-size: 50px;
}

.price {
  text-decoration: none;
  padding: 5px 15px;
  background-color: #f5cce8;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.price:hover {
  text-decoration: none;
  color: #8900ce;
  border: 4px double #8900ce;
}

/* Color scheme number 1 */
.color_1 {
  background-color: #8900ce;
}

.color_2 {
  background-color: #a663cc;
}

.color_3 {
  background-color: #b298dc;
}

.color_4 {
  background-color: #f5cce8;
}

.color_5 {
  background-color: #ec9ded;
}

/* For google man */
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Menu and style navbar for mobile */
@media (max-width: 768px) {
  .navigation-visibility-mobile {
    display: block;
    z-index: 1;
  }
  .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #e0e0e0;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }

  .offcanvas-close {
    position: absolute;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    -webkit-appearance: button;
    background-color: transparent;
    right: 0;
    top: 0;
    padding: 0 1.5rem;
  }

  .offcanvas-open {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .navigation-visibility {
    display: none;
  }

  .work_statistic {
    height: 200px;
  }
  .size-statistic-count {
    font-size: 24px;
  }
  .size-statistic {
    font-size: 14px;
  }

  .nav__item {
    font-size: smaller;
    width: 210px;
    padding: 2px;
  }

  .nav__item_small {
    margin-left: 20px;
    background-color: #8900ceef;
    border-radius: 16px;
    box-shadow: 3px 3px 3px rgb(122, 11, 108);
    font-size: small;
    width: 180px;
    padding: 3px;
  }

  .bg-navbar-my-style {
    background-color: #b298dc;
    opacity: 0.98;
  }

  .bg-navbar-my-style-2 {
    background-color: #f5cce8;
  }

  .drop-down__item {
    width: 140px;
    font-size: smaller;
    width: 140px;
    padding: 4px;
  }
}
