/* Coolors Exported Palette - coolors.co/993ac9-c6d4ff-7a82ab-307473-017693 */

/* HSL */
$color1: hsla(280%, 57%, 51%, 1);
$color2: hsla(225%, 100%, 89%, 1);
$color3: hsla(230%, 23%, 57%, 1);
$color4: hsla(179%, 41%, 32%, 1);
$color5: hsla(192%, 99%, 29%, 1);

/* RGB */
$color1: rgba(153, 58, 201, 1);
$color2: rgba(198, 212, 255, 1);
$color3: rgba(122, 130, 171, 1);
$color4: rgba(48, 116, 115, 1);
$color5: rgba(1, 118, 147, 1);